*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}


body{

background:#eef2ff;

}



header{

background:#111827;
color:white;
padding:30px;
text-align:center;

}



.container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
padding:30px;

}



.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px #bbb;

}



input, textarea{

width:100%;
padding:10px;
margin:10px 0;

}



button{

background:#2563eb;
color:white;

border:none;

padding:10px 15px;

border-radius:8px;

cursor:pointer;

}


button:hover{

background:#1d4ed8;

}



#timer{

font-size:40px;
margin:20px;

}